{% load i18n %}
{% block subject %}
    {% blocktrans %}{{ subject_prefix }} - Manage subscriptions{% endblocktrans %}
{% endblock subject %}
{% block text_body %}
    {% blocktrans %}You have sucessfuly updated your subscriptions on Cloud Outdated.{% endblocktrans %}
    {% blocktrans %}If you wish to update your subscription again click the following link:{% endblocktrans %}
    {{ link }}
{% endblock text_body %}
{% block html_body %}
    <div>{% blocktrans %}You have sucessfuly updated your subscriptions on Cloud Outdated.{% endblocktrans %}</div>
    <div>
        {% blocktrans %}If you wish to update your subscription again click the following link:{% endblocktrans %}
        <a href="{{ link }}">{{ link }}</a>
    </div>
{% endblock html_body %}
