{% load i18n %}
{% block subject %}
    {% blocktrans %}{{ subject_prefix }} - Confirm subscription to Cloud Outdated{% endblocktrans %}
{% endblock subject %}
{% block text_body %}
    {% blocktrans %}To confirm your account and to update your subscriptions on Cloud Outdated follow this link:{% endblocktrans %}
    {{ link }}
{% endblock text_body %}
{% block html_body %}
    <div>
        {% blocktrans %}To confirm your account and to update your subscriptions on Cloud Outdated follow this link:{% endblocktrans %}
        <a href="{{ link }}">{{ link }}</a>
    </div>
{% endblock html_body %}
