Django==3.2.12
zappa>=0.54.1
whitenoise
google-api-python-client
google-cloud-container
psycopg2-binary
django-admin-env-notice
django-analytical
django-environ
django-structlog
django-anymail[amazon_ses]
django-recaptcha
django-templated-mail
django-sesame[ua]
django-cockroachdb==3.2.1
backoff
beautifulsoup4
requests
python-dateutil
django-robots
