{% load i18n %}

{% block subject %}
{% blocktrans %}Notification about services Cloud Outdated{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% for s in subscriptions %}
{% if s.added or s.deprecated %}
Service: {{s.service}}
{% if s.added %}
New versions:
    {% for v in s.added %}
    - {{ v }}
    {% endfor %}
{% endif %}
{% if s.deprecated %}
Deprecated versions:
    {% for v in s.deprecated %}
    - {{ v }}
    {% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock text_body %}

{% block html_body %}
{% for s in subscriptions %}
    {% if s.added or s.deprecated %}
    <h3>{{s.service}}</h3>
        {% if s.added %}
        <h4>New versions</h4>
        <ul>
            {% for v in s.added %}
            <li>{{ v }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if s.deprecated %}
        <h4>Deprecated versions</h4>
        <ul>
            {% for v in s.deprecated %}
            <li>{{ v }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock html_body %}
