{% load static %}
{% load analytical %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% analytical_head_top %}
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>{{ page_title }}</title>
        <!-- Required Stylesheets -->
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <!-- Load polyfills to support older browsers -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
        <!-- Required scripts -->
        <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
        <!-- Load utilities -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
        <!-- Cookie banner -->
        <script type="text/javascript" id="cookiebanner" src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js"></script>
        <style>
      .gradient {
        background: linear-gradient(90deg, #3d33d5 0%, #5188da 100%) !important;
      }
      .gradient-red {
        background: linear-gradient(90deg, #d5336f 0%, #da5151 100%) !important;
      }
        </style>
        {% analytical_head_bottom %}
    </head>
    <body class="leading-normal tracking-normal text-white">
        {% analytical_body_top %}
        <!-- Our application root element -->
        <div id="app">
            <!-- Responsive navbar-->
            <nav id="header"
                 class="fixed w-full z-30 top-0 text-white bg-white shadow h-15">
                <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
                    <div class="pl-4 flex items-center">
                        <a class="text-gray-900 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
                           href="{% url "home" %}">{{ page_title }}</a>
                    </div>
                    <div class="block lg:hidden pr-4">
                        <button id="nav-toggle"
                                class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                        </button>
                    </div>
                    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
                         id="nav-content">
                        <ul class="list-reset lg:flex justify-end flex-1 items-center">
                            <li class="mr-3">
                                {% url "home" as home %}
                                <a class="{% if request.path == home %}text-black{% else %}text-gray-800 opacity-75{% endif %} inline-block py-2 px-4 font-bold no-underline"
                                   href="{{ home }}">Home</a>
                            </li>
                            {% if user.is_authenticated is False %}
                                <li class="mr-3">
                                    {% url "user_login" as login %}
                                    <a href="{{ login }}"
                                       class="{% if request.path == login %}text-black{% else %}text-gray-800 opacity-75{% endif %} inline-block py-2 px-4 font-bold no-underline">Log in</a>
                                </li>
                            {% endif %}
                            <li>
                                {% url "user_subscriptions" as subscriptions %}
                                <a href="{{ subscriptions }}"
                                   class="{% if request.path == subscriptions %}text-black{% else %}text-gray-800 opacity-75{% endif %} mx-auto lg:mx-0 hover:underline bg-white font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                    {% if user.is_authenticated %}
                                        Subscriptions
                                    {% else %}
                                        Sign Up
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
            </nav>
            {% block content %}{% endblock %}
            <!--Footer-->
            <footer class="bg-white">
                <div class="container mx-auto px-8">
                    <div class="w-full flex flex-col md:flex-row py-6">
                        <div class="flex-1 mb-6 text-black">
                            <a class="text-pink-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
                               href="{% url "home" %}">{{ company_name }}</a>
                        </div>
                        <div class="flex-1">
                            <p class="uppercase text-gray-500 md:mb-6">
                                Company
                            </p>
                            <ul class="list-reset mb-6">
                                <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                                    <a href="https://www.termsfeed.com/live/2fc0e688-0355-40ad-8e39-d2f007e3ac03" target="_blank"
                                       class="no-underline hover:underline text-gray-800 hover:text-pink-500">Privacy</a>
                                </li>
                                <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                                    <a href="https://github.com/cloud-outdated" target="_blank"
                                       class="no-underline hover:underline text-gray-800 hover:text-pink-500">About Us</a>
                                </li>
                                <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                                    <a href="https://gs2azalhg3t.typeform.com/to/v6rpvmqj" target="_blank"
                                       class="no-underline hover:underline text-gray-800 hover:text-pink-500">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        {% analytical_body_bottom %}
    </body>
</html>
