{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Personalized digest of updates for cloud services</h1>
                            <p class="lead text-white-50 mb-4">Get notified when an updated version of a cloud service you use is available gently nudging you to plan an update!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <h2 class="h4 fw-bolder">AWS</h2>
                        <p>Supported services: RDS, Elasticache, Kafka, DocDB, Memory, MQ, Redshift, Athena, ElasticBeanstalk, ES, (ElasticSearch), OpenSearch, Neptune, EKS, Fargate.</p>
                        <a class="text-decoration-none" href="#!">
                            Subscribe
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <h2 class="h4 fw-bolder">Azure</h2>
                        <p>Supported services: Databricks, HDInsight, Kubernetes, MariaDB, Postgres, Redis, MySQL.</p>
                        <a class="text-decoration-none" href="#!">
                            Subscribe
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="h4 fw-bolder">Google Cloud</h2>
                        <p>Supported services: Cloud, SQL, Dataproc, Kubernetes, Composer, MemoryStore, Spanner, Apigee, VMware, Engine.</p>
                        <a class="text-decoration-none" href="#!">
                            Subscribe
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="h4 fw-bolder">Personalized</h2>
                        <p>Make a request for a personalized report. If you need a service that is not listed, submit a request and we'll add that for you.</p>
                        <a class="text-decoration-none" href="#!">
                            Make a request
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
{% endblock %}
