{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <!--Hero-->
        <div class="flex justify-center w-full pt-16 px-3 mx-auto bg-left-bottom bg-cover bg-clip-padding bg-[url('{% static 'img/clouds.jpg' %}')]">
            <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left text-gray-800">
                <p class="md:pt-5 uppercase tracking-loose w-full">
                    Personalized digest of updates for cloud services
                </p>
                <h1 class="my-4 text-5xl font-bold leading-tight">Stay up to date</h1>
                <p class="leading-normal text-2xl mb-8">
                    Get notified when an updated version of a cloud service you use is available by gently nudging you to plan an update!
                </p>
                <a href="{% url "user_subscriptions" %}" class="self-center mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                    Get Started
                </a>
            </div>
        </div>
        <!-- Features section-->
        <section class="bg-slate-100 border-b py-8">
            <div class="container mx-auto flex flex-wrap pt-4 pb-6 text-gray-800">
                <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                    <h2 class="w-full my-2 text-2xl font-bold leading-tight">What is this website about?</h2>
                    <div class="w-full flex flex-col flex-grow flex-shrink pb-1">
                        One-stop resource to get information about currently supported versions of services available on multiple platforms.
                    </div>
                    <div class="w-full flex flex-col flex-grow flex-shrink pb-1">
                        Answering questions like: is MySQL 8 supported by AWS Aurora Serverless or is Kubernetes 1.22 supported by AZK?
                    </div>
                    <div class="w-full flex flex-col flex-grow flex-shrink pb-1">
                        Get information quickly about a single service or subscribe to get email notification when new versions of cloud services are released.
                    </div>
                    <h2 class="w-full my-2 text-2xl font-bold leading-tight">Who should subscribe?</h2>
                    <div class="w-full flex flex-col flex-grow flex-shrink">
                        DevOps engineers, engineering managers, project managers, system architects. Basically anyone who is in any way of form involved in maintaining and building their systems using cloud offerings.
                    </div>
                </div>
                <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                    <h2 class="w-full my-2 text-2xl font-bold leading-tight">
                        Why use this instead of relying on the cloud provider's emails?
                    </h2>
                    <ul class="list-disc list-outside pl-4">
                        <li class="pb-2">
                            Only admin accounts get those emails and it’s then up to the admin account to forward the email. This forwarding can potentially not happen.
                        </li>
                        <li class="pb-2">
                            Cloud providers send out emails when a service version is at the end of life, making it difficult for someone to be always on the latest if they desire. Plus, reacting to them usually means you are many many versions behind already.
                        </li>
                        <li class="pb-2">
                            Folks waiting for a specific version to become available so they can start using the service. If you don’t use the service, you don’t get notified by the cloud provider.
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="bg-white border-b py-8">
            <div class="container mx-auto flex flex-wrap pt-4 pb-12">
                <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Supported services</h1>
                <div class="w-full mb-4">
                    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">AWS</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                RDS, Elasticache, Kafka, DocDB, Memory, MQ, Redshift, Athena, ElasticBeanstalk, ES, (ElasticSearch), OpenSearch, Neptune, EKS...
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-start">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="{% url "user_subscriptions" %}">Subscribe</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">Azure</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Databricks, HDInsight, Kubernetes, MariaDB, Postgres, Redis, MySQL...
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-center">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="{% url "user_subscriptions" %}">Subscribe</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">Google Cloud</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Cloud SQL, Dataproc, Kubernetes, Composer, MemoryStore, Spanner, Apigee...
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-end">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="{% url "user_subscriptions" %}">Subscribe</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">Personalized</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Make a request for a personalized report. If you need a service that is not listed, submit a request and we'll see what we can do.
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-end">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="https://gs2azalhg3t.typeform.com/to/Q6oHtttI" target="_blank">Make a request</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
