{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <!--Hero-->
        <div class="flex justify-center w-full pt-16 px-3 mx-auto bg-left-bottom bg-cover bg-clip-padding bg-[url('{% static 'img/clouds.jpg' %}')]">
            <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left text-gray-800">
                <p class="md:pt-5 uppercase tracking-loose w-full">
                    Personalized digest of updates for cloud services
                </p>
                <h1 class="my-4 text-5xl font-bold leading-tight">Stay up to date</h1>
                <p class="leading-normal text-2xl mb-8">
                    Get notified when an updated version of a cloud service you use is available by gently nudging you to plan an update!
                </p>
                <a href="{% url "user_subscriptions" %}" class="self-center mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                    Get Started
                </a>
            </div>
        </div>
        <!-- Features section-->
        <section class="bg-white border-b py-8">
            <div class="container mx-auto flex flex-wrap pt-4 pb-12">
                <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Supported services</h1>
                <div class="w-full mb-4">
                    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">AWS</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                RDS, Elasticache, Kafka, DocDB, Memory, MQ, Redshift, Athena, ElasticBeanstalk, ES, (ElasticSearch), OpenSearch, Neptune, EKS...
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-start">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="{% url "user_subscriptions" %}">Subscribe</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">Azure</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Databricks, HDInsight, Kubernetes, MariaDB, Postgres, Redis, MySQL...
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-center">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="{% url "user_subscriptions" %}">Subscribe</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">Google Cloud</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Cloud SQL, Dataproc, Kubernetes, Composer, MemoryStore, Spanner, Apigee...
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-end">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="{% url "user_subscriptions" %}">Subscribe</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <div class="mt-8 w-full font-bold text-xl text-gray-800 px-6">Personalized</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Make a request for a personalized report. If you need a service that is not listed, submit a request and we'll see what we can do.
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-end">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                <a href="https://gs2azalhg3t.typeform.com/to/Q6oHtttI" target="_blank">Make a request</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
