{% extends "base.html" %}
{% block content %}
    <div class="pt-24">
        <section class="bg-gray-100 pt-8">
            <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
                <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Thank you for subscribing!</h1>
            </div>
            <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
                <div class="py-8 text-base leading-7 space-y-6 text-gray-600 text-center">
                    <p>
                        Hang tight, bet you won't wait too long for your first update ;)
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
