{% extends 'base.html' %}
{% block content %}
    <div class="pt-24">
        <!-- Features section-->
        <section class="bg-white border-b py-8">
            <div class="container mx-auto flex flex-wrap pt-4 pb-12">
                <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Sign up</h1>
                <div class="w-full mb-4">
                    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                </div>
                <div class="w-full max-w-4xl mx-auto">
                    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                   id="id_email"
                                   name="email"
                                   type="text"
                                   placeholder="Email"
                                   {% if user.is_authenticated %} value="{{ user.email }}" disabled{% endif %}>
                        </div>
                        {{ captcha.captcha }}
                        <hr />
                        {% include "user-subscriptions-provider-services.html" with provider="AWS" services=aws_services %}
                        <hr />
                        {% include "user-subscriptions-provider-services.html" with provider="GCP" services=gcp_services %}
                        <hr />
                        {% include "user-subscriptions-provider-services.html" with provider="Azure" services=azure_services %}
                        <hr />
                        <div class="flex items-center justify-between">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                                    type="submit">
                                {% if user.is_authenticated %}
                                    Update
                                {% else %}
                                    Subscribe
                                {% endif %}
                            </button>
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}"
                                   class="mx-auto lg:mx-0 hover:underline gradient-red text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                    Logout
                                </a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
